<div class="row recurring-goals <%=goal_type%> <%=hidden%>" >
	<% @user.recurring_goals.where(goal_type: goal_type.capitalize).each do |goal| %>
		<div class=" col-sm-4">
			<div class="card" id='<%= goal.id %>'>
				<h4><%= goal.name %></h4>
			    <% if goal.completed == false %>
			    	<span class="glyphicon glyphicon-unchecked btn-lg goal"></span>
			    <% else %>
			    	<span class="glyphicon glyphicon-ok btn-lg"></span>
			    <% end %>
				<% if @user.id == current_user.id %>
			    	<span class="glyphicon glyphicon-trash delete-button"> </span>
					<span class="glyphicon glyphicon-pencil edit-button"> </span>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
