<div class="add-progress" id="<%= track.id %>">
    <span class="glyphicon glyphicon-plus"></span>Add/Set Progress
</div>

<div class="add-milestone" id="<%= track.id %>">
    <span class="glyphicon glyphicon-plus"></span>Add Milestone
</div>
