/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "constants";

body {
  font: helvetica;
  background-color: #f7f7f7;
}

.after-text-glyph {
  margin-left: 0.5em;
}

.navbar{
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 0;
  border-color: $primary-2;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
    background-color: $primary-0;
    color: #fff;
    font-size: 24px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  border-color: #cdcdcd;
  border-width: 1px;
  border-style: solid;
  padding: 6px 18px;
  width: 100%;
  margin: 10px 0;
  position: relative;

  h4 {
    margin-left: 28px;
  }
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 6px;
  color: #ffffff;
  font-size: inherit;
  font-weight: bold;
  background: $secondary-2-2;
  padding: 6px 6px 6px 6px;
  text-decoration: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]:hover {
  background: $secondary-2-1;
  text-decoration: none;
}

select:not([size]):not([multiple]) {
    background-color: #36C661;
    border-radius: 6px;
    border-color: #cdcdcd;
    border-width: 1px;
    border-style: solid;
    padding: 6px 18px;
    margin: 10px 0;
    color: #fff;
    font-size: inherit;
    font-weight: bold;
}

option {
    font-weight: bold;
}
