$color-primary-0: #FF821A;  // Main Primary color */
$color-primary-1: #FFAF6D;
$color-primary-2: #FF9945;
$color-primary-3: #D36001;
$color-primary-4: #A54B00;

$color-secondary-1-0: #1F56A8;  // Main Secondary color (1) */
$color-secondary-1-1: #608AC8;
$color-secondary-1-2: #3D6DB4;
$color-secondary-1-3: #0D408B;
$color-secondary-1-4: #09316D;

$color-secondary-2-0: #13BD46;  // Main Secondary color (2) */
$color-secondary-2-1: #5BD580;
$color-secondary-2-2: #36C661;
$color-secondary-2-3: #019C30;
$color-secondary-2-4: #007A25;
