.line hr {
  border-color: black;
}

.milestone-track {
  position: relative;

  .milestone-marker {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;

    &.circle {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #aaa;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    p {
      font-size: 14px;
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      top: 26px;
      word-wrap: break-word;
    }
  }

  span.milestone-marker {
    width: 100px;
  }
}

div.progress {
    background-color: transparent;
    box-shadow: none;
    padding: 40px;
    overflow: inherit;
}

div.milestone-form-field {

    display:inline-flex;
    background-color: cornsilk;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;
    padding: 8px;
    width: 100%;

    .milestone-form {
        padding: 4px;
    }
}
